.Card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    background-color: #ddd;
    margin-bottom:1em;
    padding:0.7em 1em;
}

.Card-link {
  color: #61dafb;
}

.Card-code {
    color: #888;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
    font-weight: bold;
    width:90%;
    height:100%;
    text-align: left;

}

.Card-timestamp {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.4em;
    align-self: flex-start;
    color: #aaa;
    justify-content: flex-start;
    text-align: right;
    width:10%;
    height:100%;
}

.Card-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

.Card-phrase {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

.Card-header {
    display:flex;
    width:100%;
}

.Card-footer {
    margin-top:10px;
    display:flex;
    align-self: flex-end;
    width:100%;
    align-content: flex-end;
}